<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iNKORE.UI.WPF" version="1.2.7.1" targetFramework="net472" />
  <package id="iNKORE.UI.WPF.Modern" version="0.9.30" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>